*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

    .container-nav{
        width: 100%;
        background-color: rgba(64, 224, 208, 0);
    }

    .menu-nav li{
        list-style: none;
    }

    .menu-nav a {
        display: inline-block;
        text-decoration: none;
        color: black;
        padding: 30px;
        font-size: 30px;
    }

    .menu-nav {
        display: flex;
        width: 100%;
        gap: 20px;
        justify-content: center;
    }

    .Header-Pic img{
        padding: 10px;
        height: 500px;
        width: auto;
    }

.Header-Desc{
    color: white;
    font-size: xx-large;
}

.Main-Header{
     padding: 20px;
     margin: 15px;
     background-image: url("./Assets/Images/");
    background-size: auto;
    border-radius: 20px;
    background-position: center;
    gap: 50px;
    }

.Header-Desc a{
display: inline-block;
color: white;
margin: 20px;
background-color: green;
border-radius: 20px;
border: solid 10px green;
}

.Container{
     max-width: 1080px;
     margin: auto;   
}

.Class1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.Img-Container{
    width: 500px;
    height: 750px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    border-radius: 50px;
    box-shadow: 4px 8px 20px;
}

.Img-Container:hover img{
    transform: scale(1.1);
}





.Img-Container img{
    width: 100%;
    transition: all 400ms ease-in-out;
}

.Img-Container p{
    background-color: rgba(0, 0, 0, 0.321);
    position: relative;
    bottom: 253px;
    z-index: 200;
    font-size: 35px;
    color: azure;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 110px;
    backdrop-filter: blur(5px);
}

#Four{
    bottom: 375px;
}

.Card-Collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}