*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

    .container-nav{
        width: 100%;
        background-color: turquoise;
    }

    .menu-nav li{
        list-style: none;
    }

    .menu-nav a {
        display: inline-block;
        text-decoration: none;
        color: black;
        padding: 30px;
        font-size: 30px;
    }

    .menu-nav {
        display: flex;
        width: 100%;
        gap: 20px;
        justify-content: center;
    }

    