@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');
*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

    .container-nav{
        width: 100%;
        background-color: rgba(64, 224, 208, 0);
    }

    .menu-nav li{
        list-style: none;
    }

    .menu-nav a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        padding: 30px;
        font-size: 30px;
    }

    .menu-nav {
        display: flex;
        width: 100%;
        gap: 20px;
        justify-content: center;
        background-color: #000;
    }

    .Header-Pic img{
        padding: 10px;
        height: 500px;
        width: auto;
    }

.Header-Desc{
    color: white;
    font-size: xx-large;
}

.Main-Header{
     padding: 20px;
     margin: 15px;
     background-image: url("./Assets/Images/Main-Header-Bg.jpg");
    background-size: auto;
    border-radius: 20px;
    background-position: center;
    gap: 50px;
    }

.Header-Desc a{
display: inline-block;
color: white;
margin: 20px;
background-color: green;
border-radius: 20px;
border: solid 10px green;
}

.Container{
     max-width: 1080px;
     margin: auto;   
}

.Header-Layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.Img-Container{
    width: 500px;
    height: 750px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    border-radius: 50px;
    box-shadow: 4px 8px 20px;
}

.Img-Container:hover img{
    transform: scale(1.1);
}





.Img-Container img{
    width: 100%;
    transition: all 400ms ease-in-out;
}

.Img-Container p{
    background-color: rgba(0, 0, 0, 0.321);
    position: relative;
    bottom: 253px;
    z-index: 200;
    font-size: 35px;
    color: azure;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 110px;
    backdrop-filter: blur(5px);
}

#Four{
    bottom: 375px;
}

.Card-Collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Table{
    margin: 40px;
}

.Table, th, tr, td{
    border: solid 3px #000;
    border-collapse: collapse;
    padding: 25px;
    font-size: xx-large;
    font-family: "Press Start 2P";
}

.Table img{
    width: 350px;
}

.Table td{
    text-align: center;
    background-color: #8F87F1;
}

.Table th{
    background-color: #8F87F1;
}

.Div-Video{
    display: flex;
    background-color: #fff;
    box-shadow: 1px 1px 10px;
    width: 950px;
    padding: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.Div-Video video{
    width: 100%;
}

.main-footer{
    background-color: #000;
    font-weight: bolder;
    bottom: 0;
    color: #fff;
    font-family: "Libertinus Math";
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
}

.footer-text{
    font-size: large;
}

.container-styling-footer a{
    color: #fff;
    font-size: large;
    transition: all, 500ms, ease-in-out; 
}

.container-styling-footer ul li a:hover{
    color: #fff;
    padding-left: 8px;
}

#close-btn{
    display: none;
    width: 40px;
    margin-left: 20px;
}

.mobile-btn{
    display: none;
    width: 40px;
    margin-top: 30px;
    margin-left: 20px;
}

body{
    overflow-x: hidden;
}

@media screen and (max-width: 600px){
    .menu-nav{
        position: fixed;
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100vh;
        background-color: #8F87F1;
        z-index: 10000;
        flex-direction: column;
        padding-top: 100px;
        transition: all 300ms ease-in-out;
    }

    .mobile-btn{
        display: inline-block;
    }

    #close-btn{
        display: inline-block;
    }

    .Header-Layout{
        flex-direction: column;
        gap: 20px;
    }

    .Header-Desc{
        text-align: center;
    }

    .Div-Video{
        width: auto;
        length: auto;
        box-shadow: 0px 0px 0px
    }

    .Table img{
        width: 175px;
    }

}